/npmWeather/node_modules
/npmWeather/.parcel-cache
/npmWeather/dist
/Chat/node_modules
/Chat/.parcel-cache
/Chat/dist
/TS/node_modules
/TS/.parcel-cache
/Ts/dist
/226 Практика/node_modules
/226 Практика/.parcel-cache
/226 Практика/dist
/219 Обратный отсчёт/node_modules
/219 Обратный отсчёт/dist
/219 Обратный отсчёт/parcel
/#2_#19 Обратный отсчёт/node_modules
/#2_#19 Обратный отсчёт/dist
/#2_#19 Обратный отсчёт/parcel
