
#d {
    box-sizing: border-box;
    top: 40%;
    left: 880px;
    position: absolute;
    width: 200px;
    height: 50px;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 4px;
}